@import "../../style/vars.scss";

.containerActiveCoffee {
  @include flex(column, space-between, center);
  gap: 24px;
  padding: 16px 26px;
  h2 {
    @include font(18px, 500, 20px, rgb(247, 248, 251));
    text-align: center;
  }
  > div {
    padding: 12px;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(247, 248, 251);
    @include flex(column, space-between, center);
    gap: 5px;
    h3 {
      @include font(14px, 500, 20px, rgb(0, 24, 51));
      text-align: center;
    }
    img {
      margin: auto;
      max-width: 70px;
      max-height: 70px;
    }
    p {
      @include font(14px, 500, 20px, rgb(0, 24, 51));
      font-style: italic;
      text-align: center;
    }
  }
  button {
    cursor: pointer;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 25px;
  }
}
