@import "../../style/vars.scss";

.coffee {
  cursor: pointer;
  padding: 25px;
  width: 154px;
  height: 164px;
  border-radius: 15px;
  background-color: rgb(247, 248, 251);
  @include flex(column, space-between, center);
  img {
    margin: auto;
  }
  h4 {
    text-align: center;
    color: rgb(216, 216, 216);
  }
}
