@import "../../style/vars.scss";

.wrapper {
  .headerPasswordPage {
    margin-bottom: 46px;
    padding-top: 36px;
    .container {
      @include flex(column, space-between, flex-start);
      > div {
        padding-top: 21px;
      }
    }
  }
  .mainPasswordPage {
    padding: 0 15px;
    .container {
      h2 {
        margin-bottom: 24px;
      }
      .welcome {
        color: rgb(170, 170, 170);
        margin-bottom: 46px;
      }
      .formUser {
        .errors {
          position: absolute;
          top: 90px;
          color: rgb(169, 95, 95);
          font-size: 12px;
        }
        .buttonRight {
          margin-bottom: 438px;
          @include flex(row, flex-end, center);
          height: 64px;
          border: none;
        }
      }
    }
  }
}
